In [5]:
import pandas as pd

#1. Завантажте дані, що містять інформацію про продажі в різних містах (див. тут)
df = pd.read_csv('transaction_analysis_data.csv', parse_dates=['Transaction_Date'])

print(df.head())

   Transaction_ID         City  Transaction_Amount Transaction_Date
0               1      Phoenix              234.63       2024-01-01
1               2     San Jose              485.07       2024-01-04
2               3  Los Angeles              194.32       2024-01-07
3               4      Houston              210.82       2024-01-10
4               5      Chicago              374.57       2024-01-13

In [7]:
#2. Обчисліть середній дохід для кожного міста та виведіть результати у вигляді таблиці.
city_avg = df.groupby('City')['Transaction_Amount'].mean().reset_index()
print("Середній дохід по містах:")
print(city_avg)

Середній дохід по містах:
           City  Transaction_Amount
0       Chicago          269.375714
1        Dallas          186.502500
2       Houston          263.609091
3   Los Angeles          237.350000
4      New York          301.871429
5  Philadelphia          241.588462
6       Phoenix          254.600000
7   San Antonio          309.232143
8     San Diego          245.571429
9      San Jose          251.603333

In [9]:
# 3. Знайдіть місто з найвищим і найнижчим доходом.

max_city = city_avg.loc[city_avg['Transaction_Amount'].idxmax()]
min_city = city_avg.loc[city_avg['Transaction_Amount'].idxmin()]
print(f"\nМісто з найвищим середнім доходом: {max_city['City']} ({max_city['Transaction_Amount']:.2f})")
print(f"Місто з найнижчим середнім доходом: {min_city['City']} ({min_city['Transaction_Amount']:.2f})")

Місто з найвищим середнім доходом: San Antonio (309.23)
Місто з найнижчим середнім доходом: Dallas (186.50)

In [10]:
# 4. Відобразьте кількість транзакцій для кожного місяця, використовуючи групування за датою.

df['Transaction_Month'] = df['Transaction_Date'].dt.to_period('M')
transactions_per_month = df.groupby('Transaction_Month').size().reset_index(name='transactions')
print("\nКількість транзакцій за місяцями:")
print(transactions_per_month)

Кількість транзакцій за місяцями:
  Transaction_Month  transactions
0           2024-01            11
1           2024-02             9
2           2024-03            11
3           2024-04            10
4           2024-05            10
5           2024-06            10
6           2024-07            10
7           2024-08            11
8           2024-09            10
9           2024-10             8