In [1]:
import pandas as pd

#1. Створіть два DataFrame: перший містить інформацію про клієнтів (ID, ім’я, вік), другий - інформацію про замовлення (ID клієнта, номер замовлення, сума). Файл 1 та Файл 2.

customers = pd.read_csv('customer_data.csv')
orders = pd.read_csv('order_data.csv')

print(customers.head())
print(orders.head())

   Customer_ID         Name  Age
0            1      Ivy Red   56
1            2    Eve Black   27
2            3   Frank Blue   43
3            4  Carol White   47
4            5     John Doe   27
   Customer_ID  Order_ID  Order_Amount
0           47         1        155.87
1           38         2         76.49
2           25         3        105.73
3           17         4        435.54
4           36         5        229.85

In [2]:
#2. Виконайте злиття цих DataFrame за спільним полем ID клієнта.

merged = pd.merge(customers, orders, on='Customer_ID', how='inner')
print(merged.head())

   Customer_ID        Name  Age  Order_ID  Order_Amount
0            1     Ivy Red   56        11        461.30
1            2   Eve Black   27         8        218.64
2            2   Eve Black   27        53        242.12
3            3  Frank Blue   43        46        216.27
4            3  Frank Blue   43        68        164.31

In [3]:
#3. Відфільтруйте дані, залишивши лише клієнтів віком більше 30 років, які здійснили замовлення на суму більше 100.

filtered = merged[(merged['Age'] > 30) & (merged['Order_Amount'] > 100)]
print(filtered.head())

   Customer_ID         Name  Age  Order_ID  Order_Amount
0            1      Ivy Red   56        11        461.30
3            3   Frank Blue   43        46        216.27
4            3   Frank Blue   43        68        164.31
5            4  Carol White   47        70        109.36
8            6  Hank Yellow   42        49        448.23

In [5]:
#4. Обчисліть загальну суму замовлень для цих клієнтів.

res = filtered['Order_Amount'].sum()
print(res)

16719.309999999998