In [12]:
import pandas as pd

# 1. Завантажте CSV-файл
df = pd.read_csv('extended_sales_data.csv')

In [13]:
# 2. Виведіть перші 5 і останні 5 рядків, щоб оглянути структуру даних.

print("Перші 5 рядків:")
print(df.head(), '\n')

print("Останні 5 рядків:")
print(df.tail(), '\n')

Перші 5 рядків:
   Customer_ID         Name       City  Purchase_Amount Purchase_Date
0            1    Eve Black   New York              NaN    2024-01-01
1            2     John Doe    Houston           790.10    2024-01-08
2            3    Bob Brown    Chicago           871.69    2024-01-15
3            4    Bob Brown   New York           440.83    2024-01-22
4            5  Grace Green  San Diego              NaN    2024-01-29

Останні 5 рядків:
    Customer_ID           Name          City  Purchase_Amount Purchase_Date
95           96       John Doe   San Antonio           206.71    2025-10-27
96           97     Jane Smith  Philadelphia              NaN    2025-11-03
97           98  Alice Johnson        Dallas           735.98    2025-11-10
98           99    Carol White       Chicago            78.93    2025-11-17
99          100  Alice Johnson       Houston           759.64    2025-11-24

In [14]:
# 3. Видаліть усі рядки з пропущеними значеннями, а також усі дубл

df_clean = df.dropna()
df_clean = df_clean.drop_duplicates()

print(df_clean.shape)
print(df_clean)

(84, 5)
    Customer_ID           Name          City  Purchase_Amount Purchase_Date
1             2       John Doe       Houston           790.10    2024-01-08
2             3      Bob Brown       Chicago           871.69    2024-01-15
3             4      Bob Brown      New York           440.83    2024-01-22
5             6        Ivy Red  Philadelphia            81.56    2024-02-05
6             7      Bob Brown      San Jose           983.45    2024-02-12
..          ...            ...           ...              ...           ...
94           95      Eve Black       Phoenix           244.62    2025-10-20
95           96       John Doe   San Antonio           206.71    2025-10-27
97           98  Alice Johnson        Dallas           735.98    2025-11-10
98           99    Carol White       Chicago            78.93    2025-11-17
99          100  Alice Johnson       Houston           759.64    2025-11-24

[84 rows x 5 columns]

In [15]:
# 4. Замініть пропущені значення у стовпці з ціною на середнє значення цього стовпця.

mean_price = df['Purchase_Amount'].mean()
df['Purchase_Amount'] = df['Purchase_Amount'].fillna(mean_price)

print(df.head())

   Customer_ID         Name       City  Purchase_Amount Purchase_Date
0            1    Eve Black   New York       554.764524    2024-01-01
1            2     John Doe    Houston       790.100000    2024-01-08
2            3    Bob Brown    Chicago       871.690000    2024-01-15
3            4    Bob Brown   New York       440.830000    2024-01-22
4            5  Grace Green  San Diego       554.764524    2024-01-29